body{
    color: #1E212C;
    font-size: 16px;
    line-height: 160%;
    font-family: "Lato";
    font-style: normal;
}


.wrapper{
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.title{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subtitle{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}


.btn-red{
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    color: #FFFFFF;
    padding: 0 39px;
    border: 1px solid #FF3F3A;
    text-decoration: none;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    transition: .4s all;
    border-radius: 4px;
    text-align: center;
}

.btn-red:hover, .btn-red:focus, .btn-red:active{
    background: none;
    color: #FF3F3A;
}


.btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    color: #FF3F3A;
    padding: 0 39px;
    border: 1px solid #FF3F3A;
    text-decoration: none;
    background: none;
    transition: .4s all;
    border-radius: 4px;
    text-align: center;
}

.btn:hover, .btn:focus, .btn:active{
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: #FFFFFF;
}

/* header styles start */

.header{
    margin-bottom: 80px;
}

.header__wrapper{
    display: flex;
    align-items: center;
    padding-top: 20px;
}


.header__nav-list{
    display: flex;
    align-items: center;
}

.header__nav-item{
    margin-left: 40px;
}

.header__nav-item:first-child{
    margin-left: 60px;
}

.header__nav-link{
    text-decoration: none;
    color: #424551;
    font-weight: 700;
    transition: 0.3s;
}

.header__nav-link-active{
    font-weight: 700;   
    color: rgba(255, 63, 58, 1);
}

.header__nav-link:focus, .header__nav-link:hover, .header__nav-link:active{
    opacity: 0.6;
}

.header__button{
    margin-left: 225px;
}

.header__cab{
    padding-left: 28px;
    background: url(../img/svg/cab-bg.svg) no-repeat left;
    color: #424551;
    margin-left: 36px;
    text-decoration: none;
    font-weight: 700;
    transition: 0.2s all;
}

.header__cab:hover, .header__cab:focus, .header__cab:active{
    opacity: 0.7;
}


/* Header styles end */

/* Info styles start */


.info{
    margin-bottom: 120px;
}

.info__wrapper {
    display: flex;
    justify-content: space-between;
}

.info__info {
    max-width: 810px;
}

.info__info-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 12px;
    padding: 0 0 0 24px;
    background: url(../img/svg/blog-card-article.svg) no-repeat left center;
}

.info__info-type span{
    color: #FF3F3A;
    padding-left: 12px;
    margin-left: 12px;
    background: url(../img/svg/blog-card-divider.svg) no-repeat left center;
}

.info__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-bottom: 26px;
}

.info__date-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.info__date {
    display: flex;
    align-items: center;
}

.info__date-month, .info__date-time {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
    padding-left: 24px;
}
.info__date-month{
    margin-right: 24px;
    background: url(../img/svg/blog-card-date-bg.svg) no-repeat left center;
}
.info__date-time {
    background: url(../img/svg/blog-card-time-bg.svg) no-repeat left center;
}

.info__share {
    display: flex;
    align-items: center;
}

.info__share-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
    margin-right: 12px;
}

.info__share-link svg{
    fill: #787A80;
    transition: .3s all;
}

.info__share-link:hover svg{
    fill: #FF3F3A;
}

.info__share-link{
    text-decoration: none;
    margin-right: 12px;
}

.info__share-link:last-child{
    margin-right: 0;
}

.info__pic {
    object-fit: cover;
    max-width: 810px;
    margin-bottom: 60px;
}

.info__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
    color: #1E212C;
}

.info__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 24px;
}

.info__desc-2{
    margin-bottom: 48px;
}

.info__braces-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    padding-left: 58px;
    color: #1E212C;
    background: url(../img/svg/braces.svg) no-repeat left top;
    margin-bottom: 48px;
}

.info__list-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 24px;
    color: #424551;
}

.info__list {
    margin-bottom: 24px;
}

.info__list-item {
    padding-left: 22px;
    background: url(../img/svg/why-vote.svg) no-repeat left center;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 4px;
}

.info__list-item:last-child{
    margin-bottom: 0;
}

.info__list-item-text {
}

.info__desc-end {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 60px;
    color: #424551;
}

.info__tags-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__tags {
    display: flex;
    align-items: center;
}

.info__tags-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    margin-right: 12px;
    color: #1E212C;
}

.info__tags-list {
    display: flex;
    align-items: center;
}

.info__tags-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    padding: 6px 16px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    margin-right: 12px;
    transition: .3s all;
    cursor: pointer;
}

.info__tags-item:hover{
    border-color: #FF3F3A;
    background: #FF3F3A;
    color: #FFFFFF;
}


.info__tags-item :last-child{
    margin-right: 0;
}
.info__tags-item-text {
}

.info__about {
    max-width: 342px;
}
.info__about-form {
    position: relative;
    margin-bottom: 60px;
}

.info__about-form-input{
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #D7DADD;
    background: #FFFFFF;
    width: 100%;
}

.info__about-form-input, .info__about-form-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9a9ca5;
}
.info__about__form-button {
    position: absolute;
    right: 10px;
    top: 14px;
    border: none;
    background: none;
}
.info__about-author {
    margin-bottom: 60px;
}
.info__about-author-title{
    margin-bottom: 24px;
}

.author__card{
    display: flex;
    align-items: center;
}
.info__about-author-pic {
    margin-right: 20px;
}
.info__about-author-text {
}
.info__about-author-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #424551;
    margin-bottom: 4px;
}
.info__about-author-spec {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    margin-bottom: 20px;
}
.info__about-author-socials {
    display: flex;
    align-items: center;
}
.info__about-author-link {
    margin-right: 12px;
    text-decoration: none;
}

.info__about-author-link svg{
    fill: #787A80;
    transition: .3s all;
}

.info__about-author-link:last-child{
    margin-right: 0;
}

.info__about-author-link:hover svg{
    fill: #FF3F3A;
}


.info__about-trending {
    margin-bottom: 60px;
}

.info__about-trending-title {
    margin-bottom: 24px;
}

.info__about-trending-cards {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 24px;
}

.info__about-trending-card {
    display: flex;
    align-items: center;
}


.trending__card-pic {
    margin-right: 20px;
}

.trending__card-text{
    display: flex;
    flex-direction: column;
}

.trending__card-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    padding-left: 24px;
    background: url(../img/svg/blog-card-date-bg.svg) no-repeat left center;
    margin-bottom: 4px;
    }
.trending__card-theme {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    cursor: pointer;
    transition: .3s all;
}

.trending__card-theme:hover{
    color: #FF3F3A;
}

.info__about-tags {

}

.tags__title {
    margin-bottom: 31px;
}
.tags__list {
    display: flex;
    flex-wrap: wrap;
}
.tags__item {
    padding: 6px 16px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    margin-right: 12px;
    margin-bottom: 12px;
    transition: .3s all;
    cursor: pointer;
}

.tags__item:hover{
    background: #FF3F3A;
    border-color: #FF3F3A;
}

.tags__item:hover .tags__tag{
    color: #FFFFFF;
}

.tags__item:nth-child(3), .tags__item:nth-child(6) {
    margin-right: 0;
}

.tags__tag {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}

/* Info styles end */

/* Subscribe styles start */

.subscribe{
    background: #F4F5F7;
    margin-bottom: 120px;
}

.subscribe__wrapper{
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subscribe__form-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.subscribe-pic{
    margin-left: -37px;
}
.subscribe__title {
    font-family: 'Lato';
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 48px;
    max-width: 600px;
}
.subscribe__form {
    display: flex;
    flex-direction: column;
}
.subscribe__form-input-block{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.subscribe__form-input {
    padding: 13px 16px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    background: #FFFFFF;
    margin-right: 24px;
    max-width: 422px;
    width: 100%;
}

.subscribe__form-input::placeholder, .subscribe__form-input{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #9A9CA5;
}

.subscribe__checkbox-label{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.real_checkbox{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom_checkbox{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: none;
    border: 1px solid #B3B7BC;
    border-radius: 3px;
    vertical-align: sub;
    margin-right: 12px;
}

.custom_checkbox::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 8px;
    background: url(../img/svg/confirm.svg) no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%) scale(0);
    transition: .1s ease-in;
}

.real_checkbox:checked + .custom_checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.real_checkbox:checked + .custom_checkbox {
    background-color: #FF3F3A;
    border-color: transparent;
}

/* Subscribe styles end */

/* Blog styles start */

.blog {
    margin-bottom: 180px;
}

.blog__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 60px;
    align-items: flex-start;
}
.blog__top-titles {
}
.blog__title {
    margin-bottom: 8px;
}

.blog__subtitle {
}

.blog__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}
.blog__button {
    fill: #424551;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    transition: .3s all;
}

.blog__button:hover{
    fill: #FFFFFF;
    background: #FF3F3A;
}

.blog__button:first-child{
    margin-right: 10px;
}

.blog__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    margin-bottom: 80px;
}
.blog__card {
    position: relative;
}
.blog__card-type {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 1px 8px 1px 28px;
    border-radius: 4px;
}

.blog__card-pic {
    margin-bottom: 16px;
}
.blog__card-info {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    display: flex;
    margin-bottom: 8px;
}
.blog__card-prof {
    padding-right: 12px;
    background: url(../img/svg/blog-card-divider.svg) no-repeat right center;
    margin-right: 12px;
}
.blog__card-date {
    margin-right: 12px;
    padding-right: 12px;
    padding-left: 24px;
    background: url(../img/svg/blog-card-date-bg.svg) no-repeat left center, url(../img/svg/blog-card-divider.svg) no-repeat right center;
}
.blog__card-time {
    padding-left: 24px;
    background: url(../img/svg/blog-card-time-bg.svg) no-repeat left center;
}
.blog__card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
}
.blog__card-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 16px;
}
.blog__card-link {
    text-decoration: none;
    color: #1E212C;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    padding-right: 32px;
    background: url(../img/svg/blog-card-arrow-right.svg) no-repeat 95% center;
    transition: .3s all;
}

.blog__card-link:hover, .blog__card-link:focus, .blog__card-link:active{
    background: url(../img/svg/blog-card-arrow-right.svg) no-repeat right center;
}
.podcast{
    background: url(../img/svg/blog-card-micro.svg) no-repeat 8px center, #FFFFFF;
}

.article{
    background: url(../img/svg/blog-card-article.svg) no-repeat 8px center, #FFFFFF;
}
.blog__more {
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog__more-text {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #1E212C;
    margin-right: 40px;
}
.blog__more-button {
}


/* Blog styles end */

/* Footer styles start */ 

.footer{
    padding-top: 80px;
    background: #1E212C;
}

.footer__top{
    padding-bottom: 60px;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__block-1{
    max-width: 279px;
}

.footer__logo-pic{
    margin-bottom: 24px;
}

.footer__desc{
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer__social-link{
    opacity: 0.6;
    margin-right: 20px;
    transition: .3s;
}

.footer__social-link:last-child{
    margin-right: 0;
}

.footer__social-link:hover, .footer__social-link:focus, .footer__social-link:active{
    opacity: 1;
}

.footer__block-2 {
    color: #FFFFFF;
}
.site__map {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 12px;
}
.footer__site-map-list {

}


.footer__site-map-item {
    margin-bottom: 8px;
}
.footer__site-map-link {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.6;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.footer__block-3 {
    color: #FFFFFF;
}

.footer__courses-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.footer__courses-list {

}

.footer__courses-item {
    margin-bottom: 8px;
}

.footer__courses-link {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.6;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.footer__block-4 {
    color: #FFFFFF;
}
.footer__contact-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.footer__phone {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.6;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding-left: 23px;
    background: url(../courses\ img/svg/iPhone.svg) no-repeat left center;
}
.footer__email {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.6;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding-left: 23px;
    background: url(../courses\ img/svg/Mail.svg) no-repeat left center;
}

.footer__block-5 {
    color: #FFFFFF;
    max-width: 286px;
}

.footer__signup {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 24px;
}

.footer__form {
    position: relative;
}

.footer__form-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    opacity: 1;
    width: 100%;
    padding: 9px 0 9px 12px;
    margin-bottom: 12px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: #FFFFFF;
}

.footer__btn {
    position: absolute;
    top: 10px;
    right: 12px;
    background: none;
    border: 0;
}

.footer__signup-desc {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
}

.footer__link{
    transition: .3s all;
}

.footer__link:hover{
    opacity: 1;
}

.footer__bottom{
    background: rgba(255, 255, 255, 0.05);
    color: #FFFFFF;
}

.footer__bottom-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
}

.footer__copy{
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.footer__copy-made{
    margin-left: 2px;
    padding-left: 20px;
    background: url(../courses\ img/svg/heart.svg) no-repeat left center;
}

.go-to-top{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    opacity: .6;
    text-decoration: none;
    color: #FFFFFF;
    transition: .3;
}

.go-to-top:hover{
    opacity: 1;
}

/* Footer styles end */